<!-- templates/base.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Token Tracker</title>
        <!-- Include Tailwind CSS from CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-50">
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex justify-between">
                    <div class="flex space-x-7">
                        <div>
                            <a href="/" class="flex items-center py-4">
                                <span
                                    class="font-semibold text-gray-500 text-lg"
                                >
                                    Token Tracker
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="container mx-auto px-4 py-8">
            {% block content %} {% endblock %}
        </main>

        <footer class="bg-white shadow-lg mt-8">
            <div class="container mx-auto px-4 py-4">
                <p class="text-center text-gray-500 text-sm">
                    Token Tracker © 2024
                </p>
            </div>
        </footer>
    </body>
</html>
